h1{ color:palevioletred;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}
h4{
    color: darkred;
}
h3{ color:red;}
h5{
    font-style: italic;
    color: orange;
}
p{ color: green;}